<!-- app/views/users/index.html.erb -->
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: current_user %>

      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: Book.new %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Users</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <% if user.get_profile_image(50,50).is_a?(String) %>
                  <%= image_tag 'no-image.jpg', size: '50x50' %>
                <% else %>
                  <%= image_tag user.get_profile_image(50,50) %>
                <% end %>
              </td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
